{% load staticfiles %}
<html>
    <head>
        <title>La Tormenta Digital</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
	<style>
		body {
		background-color:#dcdcdc;
		}
	</style>
    </head>
    <body>
        <div>
            <!-- style="position:fixed;top:30px;left:50%;transform:translate(-50%,-25px);"> -->
            <h1><a href="/"><img src="{% static  'img/tormenta.svg' %}" width=50% height=50%/></a></h1>
        </div>
        <div>
            <div>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
