{% load staticfiles %}
<html>
    <head>
        <title>La Tormenta Digital</title>
       
	<!--
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	-->
	<style>
		body {
		background-color:#dcdcdc;
		}
	</style>
    </head>
    <body>
        <div style="position:fixed;top:30px;left:50%;transform:translate(-50%,-25px);">
            <h1><a href="/"><img src="tormenta.svg" /></a></h1>
        </div>
        <div>
            <div>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
